SECRET_KEY=dev-change-me

APP_MODE=
DATABASE=
STORE_CURRENCY=RUB
PAYMENT_PROVIDER=

YOOKASSA_ENABLED=false
YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
YOOKASSA_RETURN_URL_BASE=http://127.0.0.1:5000/payments/yookassa/return
YOOKASSA_RECEIPTS_ENABLED=false
YOOKASSA_VAT_CODE=
YOOKASSA_PAYMENT_MODE=
YOOKASSA_PAYMENT_SUBJECT=

TELEGRAM_NOTIFICATIONS_ENABLED=false
TELEGRAM_DEV_MODE=false
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_WEBHOOK_SECRET=
TELEGRAM_ALLOWED_USER_IDS=
TELEGRAM_ALLOWED_CHAT_IDS=
